html {
  scroll-behavior: smooth;
}

body {
  background-color: #EEEDEF;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.cSharp, .ruby, .javascript, .python, .go {
  display: none;
}

.jumbotron {
  text-align: center;
  margin: 40px;
  padding: 40px;
  background-color: #95D639;

}

.btn {
  margin-left: 45%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  background-color: #7F0CB5;
  border: 1px solid #7F0CB5;
}

.btn:hover, .btn:active, .btn:focus{
  color: white;
  background-color: #540877;
  border: 1px solid #540877;
  outline: 0;
}

.btn:active, .btn:focus{
  color: white;
  background-color: #7F0CB5;
  border: 1px solid #7F0CB5;
  outline: 0;
}

.form-control {
   width: 30%;
   margin-left: 35%;
 }

.form-group{

 }

.radio {
   text-align: center;
   margin-left: %;
 }

.result-text {
  text-decoration: underline;
  font-style: oblique;
  color: #830DBA;
 }

#name-box {
   margin-left: 43%;
 }

#output {
  display: none;
  margin-left: 20%;
  margin-bottom: 5%;
  padding: 20px;
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: white;
  border: 3px groove gray;
  border-radius: 50px;
  width: 60%;
  background-image: linear-gradient(#EEE82C, #91CB3E);


}
